site_name: Torch Lens Maker

repo_name: victorpoughon/torchlensmaker
repo_url: https://github.com/victorpoughon/torchlensmaker
edit_uri: edit/main/docs/


theme:
  name: material
  custom_dir: docs/overrides
  font:
    # text: Fira Sans
    code: Fira Code
  features:
    #- navigation.tabs
    - navigation.sections
    - navigation.path
    - navigation.footer
    # - content.action.edit
    # - toc.integrate
  palette:
    - scheme: default
      primary: orange
      accent: orange
  logo: logos/tlmlogo_black150.png
  favicon: logos/tlmlogo_black150.png

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - md_in_html
  - attr_list
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: "#"

extra_javascript:
  - javascript/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  - stylesheets/header.css
  - stylesheets/jupyter.css
  - stylesheets/logo.css
  - https://unpkg.com/katex@0/dist/katex.min.css

plugins:
  - search
  #- mkdocs-jupyter
  - mkdocs-simple-hooks:
      hooks:
        on_post_build: "docs.hooks:copy_get"


nav:
  - Overview:
    - Welcome: index.md
    - Installation: installation.md
    - Features: features.md
    - About: about.md
  - Examples:
    - Cooke Triplet: examples/cooke_triplet.md
    - Double Gauss: examples/double_gauss.md
    - Landscape Lens: examples/landscape.md
    - Pinhole Camera: examples/pinhole_camera.md
    - Pink Floyd: examples/pink_floyd.md
    - Reflecting Telescope: examples/reflecting_telescope.md
    - Triple Biconvex: examples/triple_biconvex.md
    - Variable Lens Sequence: examples/variable_lens_sequence.md
    - Snell's Window: examples/snells_window.md

  - Reference:
    - Shapes: reference/shapes.md
    - Lenses: reference/lenses.md
  
  - Test notebooks: test_notebooks.md
