[project]
name = "torchlensmaker"
version = "0.0.8"
authors = [
  { name="Victor Poughon", email="victor.poughon@gmail.com" }
]
description = "Differentiable geometric optics in PyTorch. Design optical systems with optimization."
readme = "README.md"
license = {file = "LICENSE"}
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
  "torch~=2.4.1",
  "build123d ~= 0.9.1",
  "matplotlib~=3.9.2",
  "colorcet >= 3",
  "notebook >= 7",
]

[project.optional-dependencies]
test = [
    "nbstripout-fast",
    "nbmake~=1.5.4",
    "pytest~=8.3.3",
    "nbstripout",
]

[project.urls]
Homepage = "https://github.com/victorpoughon/torchlensmaker"
Issues = "https://github.com/victorpoughon/torchlensmaker/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.setuptools]
package-dir = {"" = "src"}
packages = ["torchlensmaker"]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
