

/* Typography */

.md-typeset h1, .md-typeset h2 {
    color: var(--md-default-fg-color);
    font-weight: bold;
}

.md-typeset h3 {
    color: var(--md-default-fg-color);
    font-weight: bold;
    font-size: .8rem;
}

.md-typeset ul {
    line-height: 1.2;
}

.md-sidebar label span.md-ellipsis, label.md-nav__title {
    color: var(--md-default-fg-color);
}

.md-typeset code {
    font-size: .7em !important;
}


/* Center Markdown Tables (requires md_in_html extension) */
.center-table {
    text-align: center;
}
.md-typeset .center-table :is(td,th):not([align]) {
    /* Reset alignment for table cells */
    text-align: initial;
}

.tlmviewer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 500px;
    background: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.md-content a, .md-banner a {
    text-decoration: underline;
}

.hl-green {
    background-color: #9cd594;
    padding: .15em .25em;
    white-space: nowrap;
}

.hl-aqua {
    background-color: #82d6bf;
    padding: .15em .25em;
    white-space: nowrap;
}

.hl-red {
    background-color: hsl(0, 51%, 67%);
    padding: .15em .25em;
    white-space: nowrap;
}
