

/* Typography */

.md-typeset h1, .md-typeset h2 {
    color: var(--md-default-fg-color);
    font-weight: bold;
}

.md-typeset ul {
    line-height: 1.2;
}

.md-sidebar label span.md-ellipsis, label.md-nav__title {
    color: var(--md-default-fg-color);
}

.md-typeset code {
    font-size: .7em !important;
}

.md-content p {
    /* font-size: 16px; */
}


/* Center Markdown Tables (requires md_in_html extension) */
.center-table {
    text-align: center;
}
.md-typeset .center-table :is(td,th):not([align]) {
    /* Reset alignment for table cells */
    text-align: initial;
}

.tlmviewer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.md-content a, .md-banner a {
    text-decoration: underline;
}
